/* Stylesheet by SHB, 2019 */

html, body {
    height: 100%;
    width: 100%;
  }
body {
font-family: sans-serif;
}

#wrapper {
width: 960px;
margin: 15px auto;
}

#map {
height: 450px;
margin: 15px auto;
}

#panel {
    width: 26%;
    align: left;
    display: block;
    text-align: center;
    line-height: 42px;
}

.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 50px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}
.range-slider {
    width: 100%;
}

#forward {
    float: right;
}

#reverse {
    float: left;
}

.legend, .temporal-legend {
  		padding: 6px 10px;
    		font: 14px/16px Arial, Helvetica, sans-serif;
   		background: white;
    		background: rgba(255,255,255,0.8);
    		box-shadow: 0 0 15px rgba(0,0,0,0.2);
    		border-radius: 5px;
	}
	#legendTitle {
  	  text-align: center;
   	 	margin-bottom: 15px;
   		font-variant: small-caps;
	}
	.symbolsContainer {
    float: left;
		margin-left: 50px;
	}
	.legendCircle {
     	border-radius:50%;
    	border: 1px solid #537898;
     	background: rgba(113, 133, 152, .6);
	 	  display: inline-block;
	}
	.legendValue {
    		position: absolute;
    		right: 8px;
	}
  .my-custom-control {
      padding:5px 10px;
      background: rgba(0,0,0,0.5);
      color: #fff;
      font-size: 11px;
      line-height: 18px;
      border-radius: 5px;
  }

  .my-custom-control:empty {
      display: none;
  }
